<div class="container">
    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
        <h2>Welcome To Unify</h2>
        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
        <p>Unify is an incredibly beautiful responsive Bootstrap Template for <a href="#">corporate</a> and creative professionals. It works on all major web browsers, tablets and phone.</p>
    </div><!--/Headline Center V2-->

    <div class="row margin-bottom-60">
        <div class="col-sm-4">
            <div class="service-block-v1 md-margin-bottom-50">
                <i class="rounded-x icon-eye"></i>
                <h3 class="title-v3-bg text-uppercase">Retina ready</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
                <a class="text-uppercase" href="#">Read More</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block-v1 md-margin-bottom-50">
                <i class="rounded-x icon-pointer"></i>
                <h3 class="title-v3-bg text-uppercase">User friendly</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
                <a class="text-uppercase" href="#">Read More</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="service-block-v1 md-margin-bottom-50">
                <i class="rounded-x icon-cloud-upload"></i>
                <h3 class="title-v3-bg text-uppercase">Powerful Plugins</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
                <a class="text-uppercase" href="#">Read More</a>
            </div>
        </div>
    </div><!--/row-->
</div>