<div class="container">
    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
        <h2>Contacto</h2>
        <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
        <p>Si necesitas un presupuesto, o una cosultoría sobre decoración o fabricación de mobiliario para interiores, no dudes en ponerte en contacto.</p>

    <form>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <label>NOMBRE <span class="color-red">*</span></label>
          <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="col-md-5">
          <label>EMAIL <span class="color-red">*</span></label>
          <input type="text" name="email" id="email" class="form-control">
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <label>MENSAJE <span class="color-red">*</span></label>
          <textarea rows="8" name="message" id="message" class="form-control"></textarea><br/>
          <button type="submit" class="btn-u">ENVIAR</button>
        </div>
      </div>
    </form>        
    </div>
</div>

