<div class="footer-v1">
  <div class="footer">
      <div class="container">
          <div class="row">
              <!-- About -->
              <div class="col-md-3 md-margin-bottom-40">
                  <a href="index.html">
                    <img id="logo-footer" class="footer-logo" src="{{ "/assets/img/logo2.png" }}" alt="">
                    </a>
                  <p>En Madera y Betún se hacen trabajos de restauración, fabricación y decoración de interiores.</p>
                  <p>Especializados en moviliario del hogar y hostelería.</p>
              </div><!--/col-md-3-->
              <!-- End About -->

              <!-- Latest 
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="posts">
                      <div class="headline"><h2>Latest Posts</h2></div>
                      <ul class="list-unstyled latest-list">
                          <li>
                              <a href="#">Incredible content</a>
                              <small>May 8, 2014</small>
                          </li>
                          <li>
                              <a href="#">Best shoots</a>
                              <small>June 23, 2014</small>
                          </li>
                          <li>
                              <a href="#">New Terms and Conditions</a>
                              <small>September 15, 2014</small>
                          </li>
                      </ul>
                  </div>
              </div>-->

              <!-- Link List 
              <div class="col-md-3 md-margin-bottom-40">
                  <div class="headline"><h2>Useful Links</h2></div>
                  <ul class="list-unstyled link-list">
                      <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                      <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                  </ul>
              </div>-->

              <!-- Address -->
              <div class="col-md-3 map-img md-margin-bottom-40">
                  <div class="headline"><h2>Contacto</h2></div>
                  <address class="md-margin-bottom-40">
                      Avenida San Cristobo Nº84<br />
                      Vigo, Pontevedra <br />
                      Telf: 662 042 289 <br />
                      Email: <a href="mailto:carlossayariglesias@gmail.com" class="">carlossayariglesias@gmail.com</a>
                  </address>
              </div><!--/col-md-3-->
              <!-- End Address -->
          </div>
      </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <p>
                2016 &copy;  Jose Carlos Sayar Iglesias. Todos los derechos reservados.
              </p>
          </div>

            <!-- Social Links 
            <div class="col-md-6">
              <ul class="footer-socials list-inline">
                <li>
                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
              </ul>
            </div>-->
        </div>
    </div>
  </div><!--/copyright-->
</div>