<div class="header">
  <div class="container">
    <a class="logo" href="index.html">
      <img src="{{ "/assets/img/logo.png" }}" alt="Logo">
    </a>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="page-scroll home">
          <a href="#services">Inicio</a>
        </li>
        <li class="page-scroll home">
          <a href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</div>