<div class="bg-image-v2 bg-image-v2-dark parallaxBg1">
    <div class="container">
        <div class="headline-center-v2 margin-bottom-10">
            <h2>COMO TRABAJAMOS</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>Seleccionamos cuidadosamente el material con el que trabajamos. Respetamos el aspecto original en nuestras restauraciones. Elaboramos diseños de nuestras creaciones para que nuestros clientes se integrén en su creación. Cuidamos al detalle nuestro trabajo para entregar a nuestros clientes creaciones únicas que convivan en perfecta armonía con el entorno.Solo usamos productos al agua , tierras naturales y ceras con lo que no solo cuidamos el medio ambiente si no que nuestros muebles adquieren un aspecto calido y natural al mismo tiempo.</p><br><br>
            <a href="#contact" class="btn-u btn-brd btn-brd-hover btn-u-light">Pide presupuesto</a>
        </div><!--/Headline Center V2-->
    </div><!--/container-->
</div>