<div class="cube-portfolio container margin-bottom-60">
    <div class="content-xs">
        <div id="filters-container" class="cbp-l-filters-text content-xs">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> Todo </div> |
            <div data-filter=".restoration" class="cbp-filter-item"> Restauración </div> |
            <div data-filter=".make" class="cbp-filter-item"> Fabricación </div> |
            <div data-filter=".decoration" class="cbp-filter-item"> Decoración </div>
        </div><!--/end Filters Container-->
    </div>

    <div id="grid-container" class="cbp-l-grid-agency">
      <div class="cbp-item decoration">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img3.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img3.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Técnicas de pintura</div>
            <div class="cbp-l-grid-agency-desc">Utilazando tierras naturales y pigmentos</div>
        </div>
      </div>
      <div class="cbp-item restoration">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img8.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img8.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Envejecido de madera</div>
            <div class="cbp-l-grid-agency-desc">Recibidor de hotel</div>
        </div>
      </div>
      <div class="cbp-item restoration">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img9.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img9.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Recuperación de madera</div>
            <div class="cbp-l-grid-agency-desc">Restaurante de hotel</div>
        </div>
      </div>
      <div class="cbp-item decoration">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img10.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img10.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Personalización de forja</div>
            <div class="cbp-l-grid-agency-desc">Cabeceros y sillas</div>
        </div>
      </div>
      <div class="cbp-item make">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img11.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img11.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Vintage</div>
            <div class="cbp-l-grid-agency-desc">Palets y muebles ecológicos</div>
        </div>
      </div>
      <div class="cbp-item make">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img12.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Carpintería</div>
            <div class="cbp-l-grid-agency-desc">Estantería para comedor de vinoteca</div>
        </div>
      </div>
      <div class="cbp-item decoration">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img18.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img18.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Tierras y tintes</div>
            <div class="cbp-l-grid-agency-desc">Aplicación de tierras y tintes</div>
        </div>
      </div>
      <div class="cbp-item make">
        <div class="cbp-caption margin-bottom-20">
            <div class="cbp-caption-defaultWrap">
                <img src="assets/img/main/img19.jpg" alt="">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <ul class="link-captions no-bottom-space">
                            <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                            <li><a href="assets/img/main/img19.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cbp-title-dark">
            <div class="cbp-l-grid-agency-title">Reformas del hogar</div>
            <div class="cbp-l-grid-agency-desc">Tarimas flotantes, puertas, vigas y techos</div>
        </div>
      </div>
      <div class="cbp-item restoration">
          <div class="cbp-caption margin-bottom-20">
              <div class="cbp-caption-defaultWrap">
                  <img src="assets/img/main/img20.jpg" alt="">
              </div>
              <div class="cbp-caption-activeWrap">
                  <div class="cbp-l-caption-alignCenter">
                      <div class="cbp-l-caption-body">
                          <ul class="link-captions no-bottom-space">
                              <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                              <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="cbp-title-dark">
              <div class="cbp-l-grid-agency-title">Design Object 09</div>
              <div class="cbp-l-grid-agency-desc">Web Design</div>
          </div>
      </div>
    </div><!--/end Grid Container-->
</div>
