<div class="container content-md">
  <div class="row">
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
            <i class="rounded-x fa fa-university"></i>
            <h3 class="title-v3-bg text-uppercase">Restauración</h3>
            <p>Recuperar los muebles y prolongar su vida útil devolviendoles la vida. Sin artificios ni marketing. Nada mas simple. Gente que pone mucho cariño en lo que hace.</p>
            <!--<a class="text-uppercase" href="#">Read More</a>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
            <i class="rounded-x fa fa-wrench"></i>
            <h3 class="title-v3-bg text-uppercase">Fabricación</h3>
            <p>Elaboración de muebles a medida para cualquier tipo de espacio. En todo tipo de estilos y adaptado a todos los bolsillo.</p>
            <!--<a class="text-uppercase" href="#">Read More</a>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
            <i class="rounded-x fa fa-paint-brush"></i>
            <h3 class="title-v3-bg text-uppercase">Decoración</h3>
            <p>Aplicación de tintes para realizar pintura a trapo en las paredes, o embejecer muebles y otros objetos de decoración.</p>
            <!--<a class="text-uppercase" href="#">Read More</a>-->
        </div>
      </div>
  </div>
</div>