<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
          <!-- MAIN IMAGE -->
          <img src="{{ "/assets/img/kitchen_bg.jpg" }}"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

          <div class="tp-caption revolution-ch1 sft start"
              data-x="center"
              data-hoffset="0"
              data-y="100"
              data-speed="1500"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endeasing="Power1.easeIn"
              data-endspeed="300">
              NECESITAS RESTAURAR MUEBLES?
          </div>

          <!-- LAYER -->
          <div class="tp-caption revolution-ch2 sft"
              data-x="center"
              data-hoffset="0"
              data-y="190"
              data-speed="1400"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              Dale un toque especial a tu negocio o casa rural,<br/>
              ponte en manos expertas.
          </div>

          <!-- LAYER -->
          <div class="tp-caption sft"
              data-x="center"
              data-hoffset="0"
              data-y="310"
              data-speed="1600"
              data-start="2800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              <a href="#contact" class="btn-u btn-brd btn-brd-hover btn-u-light">Pedir Presupuesto</a>
              <!--<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>-->
          </div>
      </li>

      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
          <!-- MAIN IMAGE -->
          <img src="{{ "/assets/img/worklocation_bg.jpg" }}"   alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

          <div class="tp-caption revolution-ch1 sft start"
              data-x="center"
              data-hoffset="0"
              data-y="100"
              data-speed="1500"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endeasing="Power1.easeIn"
              data-endspeed="300">
              MUEBLES FABRICADOS A MEDIDA
          </div>

          <!-- LAYER -->
          <div class="tp-caption revolution-ch2 sft"
              data-x="center"
              data-hoffset="0"
              data-y="190"
              data-speed="1400"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              Crea espacios perfectos,<br/>
              confecciona el mueble ideal para tu hogar o negocio.
          </div>

          <!-- LAYER -->
          <div class="tp-caption sft"
              data-x="center"
              data-hoffset="0"
              data-y="310"
              data-speed="1600"
              data-start="2800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              <a href="#contact" class="btn-u btn-brd btn-brd-hover btn-u-light">Pedir Presupuesto</a>
              <!--<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>-->
          </div>
      </li>

      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
          <!-- MAIN IMAGE -->
          <img src="{{ "/assets/img/coffee_break_bg.jpg" }}"   alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

          <div class="tp-caption revolution-ch1 sft start"
              data-x="center"
              data-hoffset="0"
              data-y="100"
              data-speed="1500"
              data-start="500"
              data-easing="Back.easeInOut"
              data-endeasing="Power1.easeIn"
              data-endspeed="300">
              CREA ESPACIOS ÚNICOS
          </div>

          <!-- LAYER -->
          <div class="tp-caption revolution-ch2 sft"
              data-x="center"
              data-hoffset="0"
              data-y="190"
              data-speed="1400"
              data-start="2000"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              Aplicamos técnicas de pintura y tintes<br/>
              para crear espacios exclusivos.
          </div>

          <!-- LAYER -->
          <div class="tp-caption sft"
              data-x="center"
              data-hoffset="0"
              data-y="310"
              data-speed="1600"
              data-start="2800"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Power1.easeIn"
              data-captionhidden="off"
              style="z-index: 6">
              <a href="#contact" class="btn-u btn-brd btn-brd-hover btn-u-light">Pedir Presupuesto</a>
              <!--<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>-->
          </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>